services:
  postgres:
    image: postgres:latest
    container_name: database
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

#  backend:
#    container_name: backend
#    build:
#      context: ./backend
#    environment:
#      DB_HOST: ${DB_HOST}
#      DB_PORT: ${DB_PORT}
#      DB_USER: ${DB_USER}
#      DB_PASSWORD: ${DB_PASSWORD}
#      DB_NAME: ${DB_NAME}
#      OPENAI_API_KEY: ${OPENAI_API_KEY}
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres
#    networks:
#      - backend
#
#  frontend:
#    container_name: frontend
#    build:
#      context: ./frontend
#    ports:
#      - "80:80"
#      - "443:443"
#    depends_on:
#      - postgres
#      - backend
#    networks:
#      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
    driver: local
